<h2>つかったおかねのしょうさい</h2>
<%= link_to "へんしゅうできるよ", [:edit, @costs] %>
<%= link_to "つかったおかねいちらんにもどるよ", :cost_index %>
 
<table>
 
	<tr>
    <th>なまえ</th>
    <td><%= @costs.name %></td>
  </tr>
 
	<tr>
		<th>つかったもの</th>
		<td><%= @costs.description %></td>
	</tr>
</table>
